# Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# Maven wrapper
.mvn/wrapper/maven-wrapper.properties

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.class

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Spring Boot specific
application-*.yml
application-*.properties
*.env
